{% extends '@Admin/layout/layout.html.twig' %}

{% block content %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form action="{{ path('login_post') }}" method="post">
        <label for="username">{{ 'admin.login_form.username'|trans }}:</label>
        <input type="text" id="username" name="username" value="{{ username }}" />

        <label for="password">{{ 'admin.login_form.password'|trans }}:</label>
        <input type="password" id="password" name="password" />

        <button type="submit">{{ 'admin.login_form.button'|trans }}</button>
    </form>
{% endblock %}
